<!--include header-->
<%- include('../../include/_header') %>
<!--/include header-->

<body>
    <div id="wrapper">
        <%- include('../../include/_banner') %>
        <%- include('../../include/_admin_menu') %>


<h1 class="text_center_hor text_title">Editare profil utilizator</h1>
<h2 class="text_center_hor text_subtitle">Folositi acest formular pentru a modifica date din profilul unui utilizator</h2>

        <form class="add-update-user-form" id="edit-user-form">
            <div class="alert">
                <div class="alert-text"></div>
                <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>                 
            </div>

            <input type="hidden" name="_id" id="edit-user-id" value="<%= (user._id=='undefined')? '': user._id %>">
            <p>Nume:</p>
            <input type="text" id="edit-user-surname" name="surname" value="<%= (user.surname=='undefined')? '': user.surname %>">
            <p>Prenume:</p>
            <input type="text" id="edit-user-name" name="name" value="<%= (user.name=='undefined')? '': user.name %>">
            <p>E-mail:</p>
            <input type="text" id="edit-user-email" name="email" value="<%= (user.email=='undefined')? '': user.email %>">
            <button id="edit-user-submit" class="btn-standard">Salveaza</button>
        </form>
    </div>
    <script defer src="/js/edit_user.js"></script>
</body>
<!--include footer-->
<%- include('../../include/_footer') %>
<!--/include footer-->